/*  G E N E R A L  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

.container {
  /*  width: 100%;*/
    margin: 0 auto;
}